{% extends "base.html" %}
{% block body %}
  <h2>Welcome to the Flask-Upwork example application!</h2>
  <article>
    <p>
      This example is a simple <a href="http://flask.pocoo.org/" target="_blank">flask</a> application, that uses <a href="https://github.com/strogonoff/flask-upwork" target="_blank">flask-upwork</a> for users authorization and for an access to the <a href="http://developers.upwork.com/" target="_blank">API</a> <a href="http://upwork.com/" target="_blank">Upwork</a>.
    </p>
    <p>
      You can see your Upwork team's activity by clicking the following link:
      <h3><a href="{{ url_for('team') }}">Your Upwork Team Room</a></h3>
    </p>
  </article>
{% endblock %}
